<h1>施設様マイページ</h1>
<%= link_to "編集する", edit_facilities_path, class: "btn btn-success col-md-2" %>
<div class="table-responsive mt-3 border border-secondary rounded">
  <table class="table table-bordered text-nowrap m-0">
    <tr>
      <th class="table-active">施設名称</td>
      <td><%= current_facility.name %></td>
    </tr>
    <tr>
      <th class="table-active">カナ名称</td>
      <td><%= current_facility.kana_name %></td>
    </tr>
    <tr>
      <th class="table-active">郵便番号</td>
      <td><%= current_facility.post_code %></td>
    </tr>
    <tr>
      <th class="table-active">住所</td>
      <td><%= current_facility.address %></td>
    </tr>
    <tr>
      <th class="table-active">電話番号</td>
      <td><%= current_facility.phone_number %></td>
    </tr>
    <tr>
      <th class="table-active">定員（居室数）</td>
      <td><%= current_facility.capacity %></td>
    </tr>
    <tr>
      <th class="table-active">メールアドレス</td>
      <td><%= current_facility.email %></td>
    </tr>
  </table>
</div>