<%= render "care_manager/shared/error_messages", resource: use_plan %>
<table class="table table-hover bg-light shadow p-0">
  <tr>
    <th class="pt-3 text-nowrap text-center">ご利用者様</td>
    <td><%= f.select :user_id, current_care_manager.users.map { |k| [ k.full_name + " 様", k.id ] }, { prompt: "選択してください" }, required: true, class: 'custom-select col-md-4' %></td>
  </tr>
  <tr>
    <th class="pt-3 text-nowrap text-center">入所日</td>
    <td><%= f.date_field :start_date, required: true, class: 'custom-select col-md-4' %></td>
  </tr>
  <tr>
    <th class="pt-3 text-nowrap text-center">退所日</td>
    <td><%= f.date_field :end_date, required: true, class: 'custom-select col-md-4' %></td>
  </tr>
  <tr>
    <th></th>
    <td class="pt-3 text-nowrap">
      <div class="actions">
        <%= f.submit submit_text, class: 'btn btn-success' %>
      </div>
    </td>
  </tr>
</table>