<h1>利用計画一覧</h1>
<div class="row py-3">
  <div class="col">
    <%= link_to "新規利用計画登録", new_care_manager_use_plan_path, class: "btn btn-success btn-sm px-3 text-nowrap shadow" %>
  </div>
</div>
<h2 class="row p-0 bg-info">新規利用計画</h2>
<p>* は入力必須項目です</p>
<%= form_with model: @use_plan, url: care_manager_use_plans_path do |f| %>
  <%= render 'form', { use_plan: @use_plan, submit_text: '登録', f: f } %>
<% end %>
<div class="row mb-4">
  <div class="col col-md-12">
    <table class="table table-bordered table-responsive-md shadow">
      <thead>
        <tr>
          <th class="table-active">ご利用者様</th>
          <th class="table-active">利用期間</th>
          <th class="table-active">利用先施設</th>
          <th class="table-active">状態</th>
          <th class="table-active"></th>
        </tr>
      </thead>
      <tbody>
        <% @use_plans.each do |use_plan| %>
          <tr>
            <td class="col col-md-1 text-center text-nowrap">
              <%= link_to care_manager_user_path(use_plan.user) do %>
                <%= use_plan.user.full_name %> 様
              <% end %>
            </td>
            <td class="col col-md-2 text-center text-nowrap">
              <%= link_to care_manager_use_plan_path(use_plan) do %>
                <%= use_plan.start_date %> 〜 <%= use_plan.end_date %>
              <% end %>
            </td>
            <td class="col col-md-1 text-center text-nowrap">
              <% if use_plan.facility_id == nil %>
                未定
              <% else %>
                <%= use_plan.facility.name %>
              <% end %>
            </td>
            <td class="col col-md-1 text-center text-nowrap"><%= use_plan.status_i18n %></td>
            <td class="col col-md-2 text-center text-nowrap">
              <%= link_to "詳細", care_manager_use_plan_path(use_plan.id), class: "btn btn-success btn-sm px-3 text-nowrap shadow" %>
              <%= link_to "編集", edit_care_manager_use_plan_path(use_plan.id), class: "btn btn-success btn-sm px-3 text-nowrap shadow" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>