<div class="row">
  <div class="col col-lg-4 border-right">
    <h1>利用計画詳細</h1>
    <%= link_to "編集する", edit_care_manager_use_plan_path(@use_plan), class: "btn btn-success shadow text-nowrap my-3" %>
    <table class="table table-bordered table-responsive-md shadow">
      <tr>
        <th class="table-active text-nowrap" style="width:25%">ご利用者様</td>
        <td style="width:75%">
          <%= link_to @use_plan.user.full_name, care_manager_user_path(@use_plan.user) %>
        </td>
      </tr>
      <tr>
        <th class="table-active text-nowrap">入所日</td>
        <td><%= @use_plan.start_date %></td>
      </tr>
      <tr>
        <th class="table-active text-nowrap">退所日</td>
        <td><%= @use_plan.end_date %></td>
      </tr>
      <tr>
        <th class="table-active text-nowrap">状態</td>
        <td><%= @use_plan.status_i18n %></td>
      </tr>
      <tr>
        <th class="table-active text-nowrap">利用先施設</td>
        <td>
          <% if @use_plan.facility_id.nil? %>
            未定
          <% else %>
            <%= @use_plan.facility.name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="table-active text-nowrap">作成者</td>
        <td><%= @use_plan.care_manager.full_name %></td>
      </tr>
      <tr>
        <th class="table-active text-nowrap">居宅介護支援事業所名</td>
        <td><%= current_care_manager.office_name %></td>
      </tr>
    </table>
  </div>
  <div class="col col-lg-8">
    <h2>問い合わせ履歴</h2>
    <% if @booking_contacts.blank? %>
      問い合わせ履歴はありません。
    <% else %>
      <table class="table table-bordered table-responsive-md shadow">
        <thead>
          <tr>
            <th class="table-active text-center text-nowrap">問い合わせ日時</th>
            <th class="table-active text-center text-nowrap">送信済み施設</th>
            <th class="table-active text-center text-nowrap">状態</th>
          </tr>
        </thead>
        <tbody>
          <% @booking_contacts.each do |booking_contact| %>
            <tr>
              <td><%= booking_contact.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td><%= booking_contact.facility.name %></td>
              <td>
                <%= booking_contact.status_i18n %>
                <% if booking_contact.status == "bookable" %>
                  <%= link_to "確定する", care_manager_use_plan_booking_contact_determine_path(@use_plan, booking_contact), method: :patch, class: 'btn btn-success', data: { confirm: "予約確定でお返事してよろしいですか？(送信先施設：#{booking_contact.facility.name})" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <h1 class="mt-5 border-top">問い合わせ先施設選択</h1>
    <div class="container">
      <div class="row form-inline my-3">
        <%= form_with url: care_manager_use_plan_path(@use_plan), method: :get do |f| %>
          <%= f.search_field :word, placeholder: "ここへ入力して検索！", class: 'col form-control' %>
          <%= f.select :search, options_for_select([["と一致する","perfect_match"], ["で始まる","forward_match"],  ["で終わる","backward_match"], ["を含む","partial_match"]], "partial_match"), {}, class: 'col custom-select' %>
          <%= f.select :range, options_for_select( { '施設名' => 'Name', '住所' => 'Adress' }, 'Adress'), {}, class: 'col custom-select' %>
          を
          <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col col-md-12">
        <% if @range.blank? %>
          <p>契約済み施設を表示中（契約済み施設以外を表示するには検索を行ってください）</p>
        <% else %>
          <p>検索結果（<%= @facilities.count %>件）：<%= @word + @range %></p>
        <% end %>
        <% if @facilities.blank? %>
          <p>施設が見つかりません。</p>
        <% else %>
          <table class="table table-bordered table-responsive-md shadow">
            <thead>
              <tr>
                <th class="table-active text-center text-nowrap">施設名</th>
                <th class="table-active text-center text-nowrap">住所</th>
                <th class="table-active text-center text-nowrap"><%= "利用期間（#{@use_plan.start_date}〜#{@use_plan.end_date}）の空き状況" %></th>
              </tr>
            </thead>
            <tbody>
              <% @facilities.each do |facility| %>
                <tr>
                  <td class="col col-md-1 text-center text-nowrap">
                    <%= facility.name %>
                  </td>
                  <td class="col col-md-2 text-center text-nowrap">
                    <%= facility.address %>
                  </td>
                  <td class="col col-md-1 text-center text-nowrap">
                    <% if facility.no_beds?(@use_plan) %>
                      満床のため問い合わせできません。
                    <% else %>
                      <% if false %><%= button_to "問い合わせする", care_manager_use_plan_booking_contacts_path(@use_plan, @booking_contact, facility_id: facility.id), method: :post, data: { confirm: "#{facility.name}へ問い合わせを送信してよろしいですか？" }, class: "btn btn-success" %><% end %>
                      <%= form_with model: @booking_contact, url: care_manager_use_plan_booking_contacts_path(@use_plan) do |f| %>
                        空きあり
                        <%= f.hidden_field :facility_id, :value => facility.id %>
                        <%= f.submit "問い合わせを送信", data: { confirm: "#{facility.name}へ問い合わせを送信してよろしいですか？" }, class: "btn btn-success" %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>