<div class="row">
  <div class="col col-12 col-md-3 border-right mb-5">
    <%= link_to care_manager_use_plans_path do %>
      <i class="fas fa-arrow-circle-left"></i>
      利用計画一覧へ
    <% end %>
    <ul class="list-group text-nowrap text-center shadow mt-2">
      <li class="list-group-item bg-primary text-white m-0">利用計画詳細 <i class="fas fa-calendar-alt"></i></li>
      <li class="list-group-item">
        <% unless @use_plan.status == "canceled" %>
          <%= link_to edit_care_manager_use_plan_path(@use_plan), class: "btn btn-success" do %>
            <i class="fas fa-edit"></i> 編集
          <% end %>
          <% if @use_plan.status == "confirmed" %>
            <%= link_to cancel_care_manager_use_plan_path(@use_plan), method: :patch, class: "btn btn-danger shadow text-nowrap ml-3", data: { confirm: "この利用計画を中止にしてよろしいですか？この操作を行うと、#{@use_plan.facility.name}へ送信され、即時利用中止の処理が行われます。" } do %>
              <i class="fas fa-minus-circle"></i> 中止
            <% end %>
          <% elsif @use_plan.status == "contacting"%>
            <%= link_to cancel_care_manager_use_plan_path(@use_plan), method: :patch, class: "btn btn-danger shadow text-nowrap ml-3", data: { confirm: "この利用計画を中止にしてよろしいですか？この操作を行うと、すべての問い合わせは締め切られます。" } do %>
              <i class="fas fa-minus-circle"></i> 中止
            <% end %>
          <% else %>
            <%= link_to cancel_care_manager_use_plan_path(@use_plan), method: :patch, class: "btn btn-danger shadow text-nowrap ml-3", data: { confirm: "この利用計画を中止にしてよろしいですか？" } do %>
              <i class="fas fa-minus-circle"></i> 中止
            <% end %>
          <% end %>
        <% end %>
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">利用者</p>
        <%= link_to care_manager_user_path(@use_plan.user) do %>
          <%= image_tag @use_plan.user.get_image(80,80), class: "rounded-lg" %>
          <%= "#{@use_plan.user.full_name} 様" %>
        <% end %>
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">利用期間</p>
        <%= @use_plan.start_date %>〜<%= @use_plan.end_date %>
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">状態</p>
        <%= @use_plan.status_i18n %>
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">利用先施設</p>
        <% if @use_plan.facility_id.nil? %>
          未定
        <% else %>
          <%= @use_plan.facility.name %>
        <% end %>
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">作成者</p>
        <%= @use_plan.care_manager.full_name %><br>
        (<%= current_care_manager.office_name %>)
      </li>
    </ul>
  </div>
  <div class="col col-12 col-md-9">
    <span>
      <h2>問い合わせ履歴 <i class="fas fa-history"></i></h2>
      <p class="text-secondary">問い合わせ済みの施設があればここに表示されます。</p>
    </span>
    <% if @booking_contacts.blank? %>
      <p class="text-secondary">問い合わせ履歴はありません。</p>
    <% else %>
      <div class="table-responsive">
        <table class="table table-sm table-bordered text-center text-nowrap">
          <caption>この表は横にスクロールできます。</caption>
          <thead>
            <tr class="table-active">
              <th>状態</th>
              <th>送信先施設</th>
              <th>送信日時</th>
            </tr>
          </thead>
          <tbody>
            <% @booking_contacts.each do |booking_contact| %>
              <tr>
                <td>
                  <%= booking_contact.status_i18n %>
                  <% if booking_contact.status == "bookable" %>
                    <%= link_to "確定する", care_manager_use_plan_booking_contact_determine_path(@use_plan, booking_contact), method: :patch, class: 'btn btn-success', data: { confirm: "予約確定でお返事してよろしいですか？(送信先施設：#{booking_contact.facility.name})" } %>
                  <% end %>
                </td>
                <td><%= booking_contact.facility.name %></td>
                <td><%= booking_contact.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if @use_plan.status == "planning" || @use_plan.status == "contacting" %>
      <h2 class="mt-5 border-top">問い合わせ先施設選択 <i class="fas fa-check-square"></i></h2>
      <div class="container">
        <div class="row my-3">
          <%= form_with url: care_manager_use_plan_path(@use_plan), method: :get, class: "form-inline" do |f| %>
            <div class="input-group">
              <%= f.search_field :word, placeholder: "ここへ入力して検索！", class: 'form-control input-group-prepend' %>
              <span class="input-group-btn input-group-append">
                <%= f.select :search, options_for_select([["と一致する","perfect_match"], ["で始まる","forward_match"],  ["で終わる","backward_match"], ["を含む","partial_match"]], "partial_match"), {}, class: 'custom-select rounded-0' %>
                <%= f.select :range, options_for_select( { '施設名' => 'Name', '住所' => 'Adress' }, 'Adress'), {}, class: 'custom-select rounded-0' %>
                <%= button_tag type: "submit", class: "btn btn-primary" do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col col-md-12">
          <% if @word.blank? %>
            <p>契約済み施設を表示中（契約済み施設以外を表示するには検索を行ってください）</p>
          <% else %>
            <p>検索結果（<%= @facilities.count %>件）：<%= @word %></p>
          <% end %>
          <% if @facilities.blank? %>
            <p>施設が見つかりません。</p>
          <% else %>
            <div class="table-responsive border border-light rounded">
              <table class="table table-sm table-bordered text-center text-nowrap">
                <caption class="d-md-none">この表は横にスクロールできます。</caption>
                <thead>
                  <tr class="table-active">
                    <th>問い合わせ可否</th>
                    <th>施設名</th>
                    <th>住所</th>
                  </tr>
                </thead>
                <tbody>
                  <% @facilities.each do |facility| %>
                    <tr>
                      <td class="align-middle">
                        <% if facility.no_beds?(@use_plan) %>
                          満床のため問い合わせ不可
                        <% elsif @booking_contacts.exists?(facility_id: facility.id) %>
                          問い合わせ済み
                        <% else %>
                          <% if false %><%= button_to "問い合わせする", care_manager_use_plan_booking_contacts_path(@use_plan, @booking_contact, facility_id: facility.id), method: :post, data: { confirm: "#{facility.name}へ問い合わせを送信してよろしいですか？" }, class: "btn btn-success" %><% end %>
                          <%= form_with model: @booking_contact, url: care_manager_use_plan_booking_contacts_path(@use_plan) do |f| %>
                            空きあり
                            <%= f.hidden_field :facility_id, :value => facility.id %>
                            <%= button_tag type: "submit", class: "btn-sm btn-success", data: { confirm: "#{facility.name}へ問い合わせを送信してよろしいですか？" } do %>
                              問い合わせ送信可 <i class="fas fa-paper-plane"></i>
                            <% end %>
                          <% end %>
                        <% end %>
                      </td>
                      <td class="align-middle">
                        <%= facility.name %>
                        <br>
                        <% if facility.new_user?(@use_plan.user) %>
                          <span class="badge badge-danger">未契約</span>
                        <% else %>
                          <span class="badge badge-success">契約済み</span>
                        <% end %>
                      </td>
                      <td class="align-middle">
                        <%= facility.address %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>