<h2 class="row p-0 text-nowrap">ケアマネージャー様ユーザー登録</h2>

<%= form_with model: @care_manager, url: care_manager_registration_path do |f| %>
  <%= render "care_manager/shared/error_messages", resource: resource %>
  <table class="table table-borderless table-hover bg-light shadow p-0 shadow">
    <tr>
      <th class="col-md-2 pt-3 text-nowrap">名前</td>
      <td>(性) </td>
      <td class="col-md-3"><%= f.text_field :last_name, autofocus: true, placeholder: "令和", class: 'form-control' %></td>
      <td>(名) </td>
      <td class="col-md-3"><%= f.text_field :first_name, placeholder: "道子", class: 'form-control' %></td>
    </tr>
    <tr>
      <th class="pt-3 text-nowrap">フリガナ</td>
      <td>(セイ) </td>
      <td><%= f.text_field :last_name_kana, placeholder: "レイワ", class: 'form-control' %></td>
      <td>(メイ) </td>
      <td><%= f.text_field :first_name_kana, placeholder: "ミチコ", class: 'form-control' %></td>
    </tr>
    <tr>
      <th class="pt-3 text-nowrap">メールアドレス</td>
      <td></td>
      <td><%= f.email_field :email, placeholder: "sample@example.com", class: 'form-control' %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th class="pt-3 text-nowrap">郵便番号(ハイフンなし)</td>
      <td></td>
      <td><%= f.text_field :post_code, placeholder: "1234567", class: 'form-control' %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th class="pt-3 text-nowrap">住所</td>
      <td></td>
      <td colspan="3"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: 'form-control' %></td>
      <td></td>
    </tr>
    <tr>
      <th class="pt-3 text-nowrap">電話番号(ハイフンなし)</td>
      <td></td>
      <td><%= f.text_field :phone_number, placeholder: "08012345678", class: 'form-control' %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th class="pt-3 text-nowrap">居宅介護支援事業所名</td>
      <td></td>
      <td colspan="3"><%= f.text_field :office_name, placeholder: "居宅介護支援事業所れいわ", class: 'form-control' %></td>
      <td></td>
    </tr>
    <tr>
      <th class="pt-3 text-nowrap">パスワード(６文字以上)</td>
      <td></td>
      <td><%= f.password_field :password, placeholder: "新しいパスワード", class: 'form-control' %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th class="pt-3 text-nowrap">パスワード(確認用)</td>
      <td></td>
      <td><%= f.password_field :password_confirmation, placeholder: "確認のためもう一度ご入力ください", class: 'form-control' %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td class="pt-3 text-nowrap">
        <div class="actions">
          <%= f.submit "新規登録", class: 'btn btn-success' %>
        </div>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
<% end %>

<h2 class="row p-0 mt-5 text-nowrap">既に登録済みの方</h2>
<%= link_to "こちら", sign_in_path %>からログインしてください。
