<div class="container">
  <div class="row">
    <div class="col text-nowrap">
      <h1>ややこしい介護施設の利用予約。<br><strong>Care Booking Station</strong>で簡単に。</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to '新規登録(CM)', new_care_manager_registration_path, method: :get, class: 'btn05 bordercircle1' %>
      <%= link_to '新規登録', new_facility_registration_path, method: :get, class: 'btn05 bordercircle1' %>
      <%= link_to 'ログイン', sign_in_path, method: :get, class: 'btn05 bordercircle1' %>
    </div>
  </div>
</div>

<!--スクロール促し-->
<div class="scrolldown4"><span>Scroll</span></div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>About</h1><br>
      <h2>介護施設のスタッフ様、施設の予約受付業務は負担になっていませんか？</h2>
      <br>
      <h2>ケアマネージャー様、施設の空き確認は負担になっていませんか？</h2>
      <br>
      <h2>Care Booking Stationはそんな介護施設利用予約の負担を解消するために作られたサイトです。</h2>
    </div>
  </div>
</div>

<!--スクロール促し-->
<div class="scrolldown4"><span>Scroll</span></div>

<div class="container">
  <div class="row">
    <div class="col text-nowrap">
      <h1>まずは使ってみましょう。<br>
      <h2>ゲストログインで試すことができます。</h2>
      <br>
      <%= link_to '施設様ゲストログイン', facility_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      <%= link_to 'ケアマネージャー様ゲストログイン', care_manager_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
    </div>
  </div>
</div>

<!--javascript読み込み-->
<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script><!--IE11用-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script><!--IE11用-->
<%= javascript_pack_tag "4-1-4" %>