<!--css読み込み-->
<%= javascript_pack_tag 'homes/top' %>

<div class="container bg-info">
  <div class="row">
    <div class="col col-md-6 text-nowrap">
      <h1>ややこしい介護施設の利用予約。<br><strong>Care Booking Station</strong>で簡単に。</h1>
    </div>
    <div class="row col-md-6">
      <%= link_to '施設様ゲストログイン（閲覧用）', facility_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      <%= link_to 'ケアマネージャー様ゲストログイン（閲覧用）', care_manager_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      <%= link_to '新規登録(CM)', new_care_manager_registration_path, method: :get, class: 'btn05 bordercircle1' %>
      <%= link_to 'ログイン(CM)', new_care_manager_session_path, method: :get, class: 'btn05 bordercircle1' %>
      <%= link_to '新規登録', new_facility_registration_path, method: :get, class: 'btn05 bordercircle1' %>
      <%= link_to 'ログイン', new_facility_session_path, method: :get, class: 'btn05 bordercircle1' %>
    </div>
  </div>
</div>

<div class="scrolldown4"><span>Scroll</span></div>

<!--javascript読み込み-->
<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script><!--IE11用-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script><!--IE11用-->
<%= javascript_pack_tag "4-1-4" %>