<h1><%= current_facility.name %>の利用予約表 <%= "#{@today.year}年#{@today.month}月" %></h1>
<table class="table table-bordered table-responsive-md shadow">
  <thead>
    <tr>
      <th class="table-active"></th>
      <% @days.each do |day| %>
        <th class="table-active text-center"><%= day.day %><br><%= @week[day.wday] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th class="text-nowrap"><%= link_to "#{user.full_name} 様", facility_user_path(user) %></th>
        <% @days.each do |day| %>
          <td>
            <%= @hash[user.id][day] %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>