<span>
  <h1>利用予約表 <i class="fas fa-table"></i></h1>
  <p class="text-secondary">問い合わせに予約可能で返答し、ケアマネージャーが予約確定すると自動的にこの予約表へ反映されます。</p>
</span>
<div class="mb-3">
  <%= link_to "前月", facility_schedules_path(num: @num - 1), class: "btn-sm btn-primary" %>
  <%= link_to "次月", facility_schedules_path(num: @num + 1), class: "btn-sm btn-primary" %>
</div>
<% if @hash.blank? %>
  <p class="text-secondary"><%= "#{@date.year}年#{@date.month}月" %>は予約がありません。</p>
<% else %>
  <p class="text-secondary d-md-none mb-0">この表は横にスクロールできます。</p>
  <div class="table-responsive border border-secondary rounded">
    <table class="table table-sm table-bordered text-center text-nowrap m-0">
      <thead>
        <tr class="table-active">
          <th class="align-middle"><%= "#{@date.year}年#{@date.month}月" %></th>
          <% @dates.each do |day| %>
            <th class="align-middle"><%= day.day %><br><%= @week[day.wday] %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @hash.keys.each do |user| %>
          <tr>
            <th class="align-middle">
              <%= link_to facility_user_path(user) do %>
                <%= image_tag user.get_image(30,30), class: "rounded" %>
                <%= "#{user.full_name} 様" %>
                <%= "(新規)" if current_facility.new_user?(user) %>
              <% end %>
            </th>
            <% @dates.each do |day| %>
              <td class="align-middle">
                <%= @hash[user][day] %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>