<div class="mb-2">
  <h1>利用者情報一覧 <i class="fas fa-users"></i></h1>
  <%= button_to new_care_manager_user_path, method: :get, class: "btn btn-success" do %>
    <i class="fas fa-plus-circle"></i> 利用者情報登録
  <% end %>
</div>
<% if current_care_manager.users.count == 0 %>
  利用者が登録されていません。新規登録を行ってください。
<% else %>
  <p class="text-secondary d-md-none mb-0">この表は横にスクロールできます。</p>
  <div class="table-responsive border border-secondary rounded">
    <table class="table table-sm table-bordered text-center text-nowrap m-0">
      <thead>
        <tr class="table-active">
          <th>氏名</th>
          <th>現在の状態</th>
          <th>要介護度</th>
          <th>生年月日</th>
          <th>住所</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="align-middle">
              <%= link_to care_manager_user_path(user) do %>
                <%= image_tag user.get_image(50,50), class: "rounded" %>
                <%= user.full_name %> 様
              <% end %>
            </td>
            <td class="align-middle"><%= user.current_status_i18n %></td>
            <td class="align-middle"><%= user.care_level_status_i18n %></td>
            <td class="align-middle"><%= user.birthday %> (<%= user.age %>歳)</td>
            <td class="align-middle"><%= user.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>