<h1>担当利用者一覧</h1>
<div class="row py-3">
  <div class="col">
    <%= link_to "新規ご利用者様登録", new_care_manager_user_path, class: "btn btn-success btn-sm px-3 text-nowrap shadow" %>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-8">
    <table class="table table-bordered table-responsive-md shadow">
      <thead>
        <tr class="text-center">
          <th class="table-active">本人画像</th>
          <th class="table-active">氏名</th>
          <th class="table-active">現在の状態</th>
          <th class="table-active">要介護度</th>
          <th class="table-active"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_image(50,50) %></td>
            <td>
              <%= link_to care_manager_user_path(user) do %>
                <%= user.full_name %> 様
              <% end %>
            </td>
            <td><%= user.current_status_i18n %></td>
            <td><%= user.care_level_status_i18n %></td>
            <td><%= link_to "編集", edit_care_manager_user_path(user), class: "btn btn-success btn-sm px-3 text-nowrap shadow" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>