<h1>担当利用者一覧</h1>
<%= link_to "新規利用者登録", new_care_manager_user_path, class: "btn btn-success shadow" %>
<% if current_care_manager.users.count == 0 %>
  利用者が登録されていません。新規登録を行ってください。
<% else %>
  <div class="table-responsive">
    <table class="table table-bordered shadow">
      <thead>
        <tr class="text-center">
          <th class="table-active">氏名</th>
          <th class="table-active">現在の状態</th>
          <th class="table-active">要介護度</th>
          <th class="table-active"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to care_manager_user_path(user) do %>
                <%= image_tag user.get_image(50,50) %>
                <%= user.full_name %> 様
              <% end %>
            </td>
            <td><%= user.current_status_i18n %></td>
            <td><%= user.care_level_status_i18n %></td>
            <td><%= link_to "編集", edit_care_manager_user_path(user), class: "btn btn-success btn-sm px-3 text-nowrap shadow" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>