<%= link_to care_manager_users_path do %>
  <i class="fas fa-arrow-circle-left"></i>
  利用者情報一覧へ</i>
<% end %>
<div class="row mt-3">
  <div class="col col-12 col-md-4 mb-5">
    <span>
      <h1>利用者情報 <i class="fas fa-user"></i></h1>
      <p class="text-secondary">利用者情報を表示しています。変更するには編集ボタンをクリックしてください。</p>
    </span>
    <%= link_to edit_care_manager_user_path(@user), class: "btn btn-success" do %>
      <i class="fas fa-edit ml-1"></i>
      編集
    <% end %>
    <%= render 'info', user: @user %>
  </div>
  <div class="col col-12 col-md-8">
    <span>
      <h1>緊急連絡先一覧 <i class="fas fa-phone"></i></h1>
      <p class="text-secondary"><%= @user.full_name %>様の緊急連絡先です。新規緊急連絡先ボタンをクリックすると新規緊急連絡先のフォームが開きます。</p>
    </span>
    <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-plus-circle"></i> 新規緊急連絡先
    </button>
    <div class="collapse" id="collapseExample">
      <div class="card card-body mt-3">
        <h1>新規緊急連絡先</h1>
        <p class="text-secondary">緊急連絡先の情報を入力し、登録をクリックしてください。<span class="badge badge-danger badge-pill">必須</span>は必須項目です。</p>
        <%= form_with model: @emergency_contact, url: care_manager_user_emergency_contacts_path(@user), class: "text-center" do |f| %>
          <div class="table-responsive border border-light rounded p-2">
            <table class="table table-sm table-borderless">
              <tr>
                <th class="col-md-2 pt-3 text-nowrap text-center">名前 <span class="badge badge-danger badge-pill">必須</span></td>
                <td class="col-md-1 pt-3 text-nowrap text-right">(性) </td>
                <td class="col-md-3"><%= f.text_field :last_name, autofocus: true, placeholder: "令和", required: true, class: 'form-control' %></td>
                <td class="col-md-1 pt-3 text-nowrap text-right">(名) </td>
                <td class="col-md-3"><%= f.text_field :first_name, placeholder: "令子", required: true, class: 'form-control' %></td>
              </tr>
              <tr>
                <th class="pt-3 text-nowrap text-center">フリガナ</td>
                <td class="col-md-1 pt-3 text-nowrap text-right">(セイ) </td>
                <td class="col-md-3"><%= f.text_field :last_name_kana, placeholder: "レイワ", class: 'form-control' %></td>
                <td class="col-md-1 pt-3 text-nowrap text-right">(メイ) </td>
                <td class="col-md-3"><%= f.text_field :first_name_kana, placeholder: "レイコ", class: 'form-control' %></td>
              </tr>
              <tr>
                <th class="pt-3 text-nowrap text-center">電話番号 <span class="badge badge-danger badge-pill">必須</span><br><p class="text-secondary m-0">(ハイフンなし)</p></td>
                <td></td>
                <td><%= f.text_field :phone_number, placeholder: "08012345678", required: true, class: 'form-control' %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th class="pt-3 text-nowrap text-center">続柄 <span class="badge badge-danger badge-pill">必須</span></td>
                <td></td>
                <td><%= f.select :relationship, EmergencyContact.relationships.keys.map { |k| [t("enums.emergency_contact.relationship.#{k}"), k] }, { prompt: "選択してください" }, required: true, class: 'custom-select' %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th class="pt-3 text-nowrap text-center">同居状況 <span class="badge badge-danger badge-pill">必須</span></td>
                <td></td>
                <td><%= f.select :status, EmergencyContact.statuses.keys.map { |k| [t("enums.emergency_contact.status.#{k}"), k] }, { prompt: "選択してください" }, required: true, class: 'custom-select' %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th class="col-md-2 pt-3 text-nowrap text-center">郵便番号<br><p class="text-secondary m-0">(ハイフンなし)</p></td>
                <td></td>
                <td><%= f.text_field :post_code, placeholder: "1234567", class: 'form-control' %></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th class="pt-3 text-nowrap text-center">住所</td>
                <td></td>
                <td colspan="3"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: 'form-control' %></td>
              </tr>
            </table>
          </div>
          <%= f.submit "登録", class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
    <%= render 'emergency', emergency_contacts: @user.emergency_contacts %>
  </div>
</div>