<span>
  <h1>問い合わせ一覧 <i class="fas fa-mail-bulk"></i></h1>
  <p class="text-secondary">施設への問い合わせがあればここに表示されます。</p>
</span>
<div class="btn-group mb-3" role="group">
  <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if @status == 'all' %>
      全て
    <% else %>
      <%= I18n.t("enums.booking_contact.status.#{@status}") %>
    <% end %>
  </button>
  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
    <%= link_to '全て', facility_booking_contacts_path(status: 'all'), class: "dropdown-item" %>
    <%= link_to '返答待ち', facility_booking_contacts_path(status: 'awaiting_reply'), class: "dropdown-item" %>
    <%= link_to '返答済(予約可能)', facility_booking_contacts_path(status: 'bookable'), class: "dropdown-item" %>
    <%= link_to '返答済(予約不可)', facility_booking_contacts_path(status: 'not_bookable'), class: "dropdown-item" %>
    <%= link_to '問い合わせ終了', facility_booking_contacts_path(status: 'closing'), class: "dropdown-item" %>
  </div>
</div>
<% if @booking_contacts.blank? %>
  <p class="text-secondary">問い合わせはありません。</p>
<% else %>
  <p class="text-secondary d-md-none mb-0">この表は横にスクロールできます。</p>
  <div class="table-responsive border border-secondary rounded">
    <table class="table table-sm table-bordered text-center text-nowrap m-0">
      <thead>
        <tr>
          <th class="table-active">状態</th>
          <th class="table-active">問い合わせ日時</th>
          <th class="table-active">利用者</th>
          <th class="table-active">期間</th>
          <th class="table-active">問い合わせ元ケアマネージャー</th>
        </tr>
      </thead>
      <tbody>
        <% @booking_contacts.each do |booking_contact| %>
          <tr>
            <td class="align-middle">
              <%= booking_contact.status_i18n %><br>
              <%= link_to "確認する", facility_booking_contact_path(booking_contact), class: "btn-sm btn-success" if booking_contact.status == "awaiting_reply" %>
            </td>
            <td class="align-middle"><%= link_to booking_contact.created_at.strftime('%Y/%m/%d %H:%M'), facility_booking_contact_path(booking_contact) %></td>
            <td class="align-middle">
              <%= link_to facility_user_path(booking_contact.use_plan.user) do %>
                <%= image_tag booking_contact.use_plan.user.get_image(50,50), class: "rounded" %>
                <%= "#{booking_contact.use_plan.user.full_name} 様" %>
                <%= "(新規)" if booking_contact.new_user? %>
              <% end %>
            </td>
            <td class="align-middle"><%= booking_contact.use_plan.start_date %> 〜 <%= booking_contact.use_plan.end_date %></td>
            <td class="align-middle">
              <%= booking_contact.use_plan.care_manager.full_name %><br>
              (<%= booking_contact.use_plan.care_manager.office_name %>)
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>