<div class="row">
  <div class="col col-12 col-md-3 mb-5">
    <%= link_to facility_booking_contacts_path do %>
      <i class="fas fa-arrow-circle-left"></i>
      問い合わせ一覧へ
    <% end %>
    <ul class="list-group text-center mt-2">
      <li class="list-group-item bg-primary text-white m-0">問い合わせ詳細</li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">問い合わせ元</p>
        <%= @use_plan.care_manager.full_name %>CM<br>
        (<%= @use_plan.care_manager.office_name %>)
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">利用者情報</p>
        <%= link_to facility_user_path(@user) do %>
          <div class="row">
            <div class="col text-right p-0">
              <%= image_tag @user.get_image(100,100), class: "rounded" %>
            </div>
            <div class="col text-left">
              <% if current_facility.new_user?(@user) %>
                <span class="badge badge-danger">新規</span>
              <% else %>
                <span class="badge badge-primary">契約済</span>
              <% end %>
              <br>
              <%= @user.full_name %> 様<br>
              <%= @user.age %>歳<br>
              <%= @user.care_level_status_i18n %>
            </div>
          </div>
        <% end %>
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">状態</p>
        <%= @booking_contact.status_i18n %>
        <% if @booking_contact.status == "awaiting_reply" %>
          <br>
          <% unless @booking_contact.no_beds? %>
            <%= button_to reply_facility_booking_contact_path(@booking_contact, content: "bookable"), method: :patch, data: { confirm: "予約可能でお返事してよろしいですか？(送信先：#{@use_plan.care_manager.full_name} ケアマネージャー)" }, class: "btn-sm btn-success" do %>
              <i class="fas fa-thumbs-up"></i> 予約可能で返答
            <% end %>
          <% end %>
          <br>
          <%= button_to reply_facility_booking_contact_path(@booking_contact, content: "not_bookable"), method: :patch, data: { confirm: "予約可能でお返事してよろしいですか？(送信先：#{@use_plan.care_manager.full_name} ケアマネージャー)" }, class: "btn-sm btn-danger" do %>
            <i class="fas fa-times-circle"></i> 予約不可で返答
          <% end %>
        <% end %>
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">利用計画状態</p>
        <%= @use_plan.status_i18n %>
        <% if @use_plan.facility.nil? %>
          (未定)
        <% else %>
          (<%= @use_plan.facility.name %>)
        <% end %>
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">問い合わせ日時</p>
        <%= @booking_contact.created_at.strftime('%Y/%m/%d %H:%M') %>
      </li>
      <li class="list-group-item">
        <p class="bg-dark text-light rounded-lg">利用期間</p>
        <%= @use_plan.start_date %>〜<%= @use_plan.end_date %>
      </li>
    </ul>
  </div>
  <div class="col col-12 col-md-6 mb-5">
    <h1>利用期間中の予約状況</h1>
    <p class="text-secondary"><%= @use_plan.start_date %>〜<%= @use_plan.end_date %>を表示中</p>
    <% if @hash.blank? %>
      予約データがありません。
    <% else %>
      <div class="table-responsive">
        <table class="table table-sm table-bordered shadow text-nowrap text-center">
          <caption>この表は横にスクロールできます。</caption>
          <thead>
            <tr class="table-active">
              <th></th>
              <% @days.each do |day| %>
                <th class="table-active" style="max-width: 5px;"><%= day.day %><br><%= @week[day.wday] %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @hash.keys.each do |user| %>
              <tr>
                <th class="text-center text-nowrap"><%= link_to "#{user.full_name} 様", facility_user_path(user) %><%= "(新規)" if current_facility.new_user?(user) %></th>
                <% @days.each do |day| %>
                  <td class="text-center" style="max-width: 5px;">
                    <%= @hash[user][day] %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="col col-12 col-md-3">
    <h2>コメント</h2>
    <%= form_with model: @use_plan_comment, url: facility_booking_contact_use_plan_comments_path(@booking_contact), method: :post, local: true do |f| %>
      <%= f.text_area :comment, required: true, placeholder: 'この問い合わせに対するコメントを入力', class: 'form-control' %>
      <%= f.submit 'コメントを書き込む', class: 'btn btn-sm btn-success' %>
    <% end %>
    <ul class="list-group">
      <% @use_plan_comments.each do |use_plan_comment| %>
        <li class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <small class="mb-1">
              <% if use_plan_comment.speaker_id == 0 %>
                <%= "#{@use_plan.care_manager.full_name} CMより" %>
              <% else %>
                <%= "#{Facility.find(use_plan_comment.speaker_id).name}より" %>
              <% end %>
            </small>
            <small><%= use_plan_comment.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
          <p class="mb-1">
            <!--感情スコアによって表情アイコンを表示-->
            <% if use_plan_comment.score > 0.5 %>
              <i class="far fa-smile-beam text-primary"></i>
            <% elsif use_plan_comment.score > -0.5 %>
              <i class="far fa-smile text-warning"></i>
            <% else %>
              <i class="far fa-angry text-danger"></i>
            <% end %>
            <%= use_plan_comment.comment %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>