<!DOCTYPE html>
<html>
  <head>
    <title>CareBookingStation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if current_page?(root_path) %>
      <%= javascript_pack_tag 'homes/top' %>
    <% end %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <!--トップページの時-->
      <div id="splash">
        <div id="splash_text"></div>
      </div>
      <div id="container">
        <%= yield %>
      </div>
    <% else %>
      <!--トップページ以外の時-->
      <%= render 'layouts/header' %>
      <main class="container-fluid mb-5">
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
