<!DOCTYPE html>
<html>
  <head>
    <title>Care Booking Station</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="介護施設の利用予約を一括管理できるサイトです。施設スタッフさん、ケアマネさん、電話での連絡はもう不要です。Care Booking Stationなら情報を一元化することで間違いのない予約受付ができます。">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if current_page?(root_path) %>
      <%= stylesheet_pack_tag 'homes/top', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'homes/top', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.png') %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <!--トップページの時-->
      <div id="splash">
        <div id="splash_text"></div>
      </div>
      <div id="container">
        <%= yield %>
      </div>
    <% else %>
      <!--トップページ以外の時-->
      <%= render 'layouts/header' %>
      <main class="container-fluid py-5">
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
